#### Question 1-

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame({
    'time_spent':[6,3,4,8,9,10],
    'scores':[95,66,70,82,52,100]
})

In [4]:
df.corr(method='pearson')

            time_spent    scores
time_spent    1.000000  0.280801
scores        0.280801  1.000000

Result- The time spent by the student for studing in the examination is positively correlated with the exam scores they obtain.

#### Question 2-

In [5]:
df=pd.DataFrame({
    'sleep_time':[6,3,4,8,9,10],
    'job_satisfaction':[6,2.5,4,7,6,3]
})

In [6]:
df.corr(method='spearman')

                  sleep_time  job_satisfaction
sleep_time          1.000000          0.318874
job_satisfaction    0.318874          1.000000

Result- The sleeping time and the job staisfaction are positively correlated with each other.

#### Question 3-

In [9]:
df=pd.DataFrame({
    'number_of_hours':[6,2,3,4,8,9,10,4,1,2,3,6,8,7,1,4,4,9,8,5,6,3,2,1,4,7,5,2,3,5,6,2,5,2,4,4,1,1,8,9,6,2,1,4,2,6,8,2,6,6],
    'bmi':[40,75,36,33,25,89,98,68,77,45,55,25,39,85,98,99,69,75,48,38,85,86,81,25,27,92,85,68,49,47,25,36,85,96,95,92,74,41,49,69,98,99,87,66,58,78,38,85,45,98]
})

In [10]:
df.corr(method='pearson')

                 number_of_hours       bmi
number_of_hours         1.000000 -0.052291
bmi                    -0.052291  1.000000

In [11]:
df.corr(method='spearman')

                 number_of_hours      bmi
number_of_hours          1.00000 -0.04984
bmi                     -0.04984  1.00000

Result- The pearson method tells that number of hours exercise per week and the BMI and more negatively correalted with each other as compared to the spearman correlation coefficient.

#### Question 4-

In [12]:
df=pd.DataFrame({
    'number_of_hours':[6,2,3,4,8,9,10,4,1,2,3,6,8,7,1,4,4,9,8,5,6,3,2,1,4,7,5,2,3,5,6,2,5,2,4,4,1,1,8,9,6,2,1,4,2,6,8,2,6,6],
    'level_of_activity':[40,75,36,33,25,89,98,68,77,45,55,25,39,85,98,99,69,75,48,38,85,86,81,25,27,92,85,68,49,47,25,36,85,96,95,92,74,41,49,69,98,99,87,66,58,78,38,85,45,98]
})

In [13]:
df.corr(method='pearson')

                   number_of_hours  level_of_activity
number_of_hours           1.000000          -0.052291
level_of_activity        -0.052291           1.000000

Result-
The number of hours of watching telivision per day is negatively correalted with the level of activity of a person(measured out of 100).

#### Question 5-

In [16]:
df=pd.DataFrame({
    'age':[25,42,37,19,31,28],
    'soft_drink_preference':['coke','pepsi','mountain dew','coke','pepsi','coke']
})

In [17]:
df

   age soft_drink_preference
0   25                  coke
1   42                 pepsi
2   37          mountain dew
3   19                  coke
4   31                 pepsi
5   28                  coke

In [18]:
from sklearn.preprocessing import LabelEncoder

In [19]:
encoder=LabelEncoder()

In [20]:
encoder.fit_transform(df['soft_drink_preference'])

array([0, 2, 1, 0, 2, 0])

In [21]:
df['soft_drink_preference']=df['soft_drink_preference'].replace(['coke','pepsi','mountain dew'],[0,2,1])

In [22]:
df

   age  soft_drink_preference
0   25                      0
1   42                      2
2   37                      1
3   19                      0
4   31                      2
5   28                      0

In [32]:
np.cov(df['age'],df['soft_drink_preference'])

array([[68.66666667,  6.26666667],
       [ 6.26666667,  0.96666667]])

In [49]:
a=df[df['soft_drink_preference']==0]

In [50]:
b=df[df['soft_drink_preference']==1]

In [51]:
c=df[df['soft_drink_preference']==2]

In [52]:
a

   age  soft_drink_preference
0   25                      0
3   19                      0
5   28                      0

It can be seen that people in age group(19-28) prefer Coke

In [53]:
b

   age  soft_drink_preference
2   37                      1

It can be seen that people age of 37 prefer Mountain dew.

In [54]:
c

   age  soft_drink_preference
1   42                      2
4   31                      2

It can be seen that people with age group(31-42) also prefer Pepsi.

#### Question 6-

In [61]:
df=pd.DataFrame({
    'calls':[1,2,3,2,4,1,0,7,6,8,5,3,9,6,5,2,1,3,4,5,6,1,0,0,2,3,4,5,6,7],
    'no_of_sales':[7,4,5,3,4,2,5,3,7,8,6,9,3,6,5,4,0,4,1,5,7,1,4,6,3,0,8,7,7,8]
})

In [62]:
df.corr()

                calls  no_of_sales
calls        1.000000     0.357164
no_of_sales  0.357164     1.000000