#### Question number-1

For loop is used when we want to execute a statement/command for a specified number of times.
Ex- printing whole numbers from 0 to 10.

In [1]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

While loop is used when we do not know exactly how many times the loop will run, so we specify the initial condition outside the loop in order to start the loop and in the loop we then specify the condition and at last do the increment or decrement as required.
As long as the condition specified holds true, the loop will run.

In [3]:
a=0;
while a<68:
    if a%6==0:
        print(a)
        a=a+1
    else:
        a=a+1

0
6
12
18
24
30
36
42
48
54
60
66

#### Question number -2

In [7]:
sum=0
product=1
for i in range(1,11):
    sum=sum+i
    product=product*i
else:
    print("Sum :",sum,"product :",product)

Sum : 55 product : 3628800

In [9]:
n=10
sum=0
product=1
i=1
while i<=n:
    sum=sum+i
    product=product*i
    i=i+1
else:
     print("Sum :",sum,"product :",product)

Sum : 55 product : 3628800

#### Question number -3

In [37]:
units=int(input("Enter the units consumed in the month"))
sum1=0
sum2=0
sum3=0
sum4=0
if units<=100:
    sum1=units*4.5         
elif units>100 and units<=200:
    sum1=100*4.5
    sum2=(units-100)*6
elif units>200 and units<=300:
    sum1=100*4.5
    sum2=100*6
    sum3=(units-200)*10
elif units>300:
    sum1=100*4.5
    sum2=100*6
    sum3=100*10
    sum4=(units-300)*20
print(sum1+sum2+sum3+sum4)

Enter the units consumed in the month 210

1150.0

#### Question no-4

In [7]:
l=[]
for i in range(1,101):
    l.append(i)

In [8]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [9]:
for i in range(0,100):
    l[i]=(l[i]*l[i]*l[i])

In [10]:
l1=[]
for i in l:
    if i%4==0 or i%5==0:
       l1.append(i**(1/3))

#### Question number 5-

In [17]:
s="i want to become a data scientist"
count=0
for i in range(0,len(s)):
    if(s[i]=='a' or s[i]=='e'):
        count=count+1
   # if(s[i]=='e'):
    #    count=count+1 """
else:
    print(count)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)