#### Question 1-

In general, Encoding is the process of converting data from one form to another.

When working on some datasets, we find that some of the features are categorical, if we pass that feature directly to our model, our model can't understand those feature variables. We all know that machines can't understand categorical data. Machines require all independent and dependent variables i.e input and output features to be numeric. This means that if our data contain a categorical variable, we must have to encode it to the numbers before we fit our data to the model.

Models only work with numerical values. For this reason, it is necessary to convert the categorical values of the features into numerical ones, So the machine can learn from those data and gives the right model. This process of converting categorical data into numerical data is called Data Encoding.

#### Question 2-

Nominal Encoding-When we have a feature where variables are just names and there is no order or rank to this variable's feature.

Nominal categorical variables are those for which we do not have to worry about the arrangement of the categories.

Example,

i. suppose we have a gender column with categories as Male and Female.
ii. We can also have a state column in which we have different states like NY, FL, NV, TX


#### Questioh 3-

When we need to maintain the intrinsic order while converting ordinal data to numeric data, we use Ordinal Encoding. So, each category will be given numbers from 0 to a number of categories. If we have 3 categories in the data, such as 'bad', 'average', and 'good', then bad will be encoded as 0, average as 1, and good as 2. So that the order is maintained.
- When we train the machine learning model, it will learn the pattern with the intrinsic order giving better results.

On the other hand, Nominal data will not have intrinsic order, we make use of OneHotEncoder class from sklearn to encode the nominal data.

- If we start encoding categories from 0,1,2 to all the categories, then the machine learning algorithm will give importance to 2 (more than 0 and 1), which will not be true as the data is nominal and will have no intrinsic order. So, this method will not work in the case of nominal data.

#### Question 4-

I would use One Hot Encoding technique to convert my categorical features to numerical features.
It is because OneHotEncoder works very well when the categorires in the Categorical features are lesss thaan or equal to 5.
The One hot Encoder will create a Sparse Matrix, which can be used to train the model very well.

#### Question 5-

In [11]:
## randomly generating the data--->
import pandas as pd
import numpy as np
np.random.seed(1)

data1=pd.DataFrame({'A':np.random.randint(low=1,high=100,size=1000),
                    'B':np.random.normal(0.0,1.0,size=1000),
                    'C':np.random.randint(low=5,high=20,size=1000),
                    'X':np.random.choice(range(0,3),1000,replace=True),
                    'Y':np.where(np.random.normal(0.0,1,size=1000)<=0,0,1)
                   })

In [12]:
data1

      A         B   C  X  Y
0    38 -0.837611  10  1  0
1    13 -0.068524   7  0  0
2    73  0.317170  10  0  1
3    10  0.563321  17  2  1
4    76  2.143153  11  1  1
..   ..       ...  .. .. ..
995  92  0.710111   7  2  0
996   6  0.386816   8  2  0
997  27  1.548844  11  1  0
998  68  0.097980  11  1  1
999  32  0.322799   7  1  0

[1000 rows x 5 columns]

In [13]:
from sklearn.preprocessing import OneHotEncoder

In [14]:
encoder=OneHotEncoder()

In [15]:
a=encoder.fit_transform(data1[['X']])

In [16]:
a.toarray()

array([[0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       ...,
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.]])

In [17]:
b=encoder.fit_transform(data1[['Y']])

In [18]:
b.toarray()

array([[1., 0.],
       [1., 0.],
       [0., 1.],
       ...,
       [1., 0.],
       [0., 1.],
       [1., 0.]])

So, here 5 new columns would be generated ... as shown above.

As the X feature conatins 3 categories it will be split into 3 new columns , and the Y feature conatins 2 categories , it will split into 2 ne columns, so a total of 5 new columns would be generated.

#### Question 6-

As in the Animal 'species' and 'habitat' features more than 5 categories are possible, so I would go with Label Encoding, which does not categorize the features based on their rank.
- As no animal is superior or inferior of one another LABEL ENCODING would be the best technique.

#### Question 7-

We are given a dataset with 5 features(customer's gender,age,contarct type,monthly charges, and tenure)

In this dataset 'Gender','Contract type' appear to be categorical features, so we can use OneHotEncoder for the Gender and Contract type features.

Steps:
1. import the OneHotEncoder from the sklearn library

In [3]:
from sklearn.preprocessing import OneHotEncoder

2. Make an object of the OnehotEncoder to initialize it.

In [4]:
encoder=OneHotEncoder()

3. Fit the categorical data to be converted into numerical one using the fit_transform

In [ ]:
encoder.fit_transform(data)

4. After the data is converted we can delete the columns with the Categorical features and use the encoded features instead.