#### Question 1-

A database is a systematic or organized collection of related information that is stored in such a way that it can be easily accessed, retrieved, managed, and updated. It is where all data is stored, very much like a library that houses a wide range of books from different genres.

In a database, we can organize the data in rows and columns in the form of a table. Indexing the data makes it easy to find and retrieve it again as and when required. Many websites on the World Wide Web are managed with the help of databases. To create a database so that the data is accessible to users through only one set of software programs, database handlers are used.

#### Difference between SQL and NoSQl -

##### SQL --->

* Primarly called as RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)
* These databases have fixed or static or predefined schema
* These databases are not suited for hierarchical data storage.
* These databases are best suited for complex queries
* Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc

##### NoSQL --->

* These are Non-relational or distributed database system.
* They have dynamic schema
* These databases are best suited for hierarchical data storage.
* These databases are not so good for complex queries
* Examples: MongoDB, GraphQL,HBase, Neo4j, Cassandra, etc.

#### Question 2-

#### DDL (Data Definition Language): 

DDL or Data Definition Language actually consists of the SQL commands that can be used to define the database schema. It simply deals with descriptions of the database schema and is used to create and modify the structure of database objects in the database. DDL is a set of SQL commands used to create, modify, and delete database structures but not data. These commands are normally not used by a general user, who should be accessing the database via an application.

* CREATE: This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).
* DROP: This command is used to delete objects from the database.
* ALTER: This is used to alter the structure of the database.
* TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed.

#### Question 3-

#### DML(Data Manipulation Language): 
The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements. It is the component of the SQL statement that controls access to data and to the database. Basically, DCL statements are grouped with DML statements.

* INSERT : It is used to insert data into a table.
* UPDATE: It is used to update existing data within a table.
* DELETE : It is used to delete records from a database table.

#### Question 4-

#### DQL (Data Query Language):
DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.

* SELECT -
The SELECT Statement in SQL is used to retrieve or fetch data from a database. We can fetch either the entire table or according to some specified rules. The data returned is stored in a result table. This result table is also called the result set. With the SELECT clause of a SELECT command statement, we specify the columns that we want to be displayed in the query result and, optionally, which column headings we prefer to see above the result table.

#### Question 5-

Primary Key:
* A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 
* Only one primary key is allowed in a table.
* Its value cannot be deleted from the parent table.

Foreign Key: 
* A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. 
*  More than one foreign key are allowed in a table.
* Its value can be deleted from the child table.

#### Question 6-

* Cursor() Method

The cursor() method of a MySQLConnection object is used to create a cursor object to perform various SQL operations.

* Execute() method

The execute() methods run the SQL query and return the result.

#### Question 7-

The order of execution of SQL clauses in an SQL query is :

1)	FROM : Tables are joined to get the base data.

2)	WHERE :	The base data is filtered.

3)	GROUP BY :The filtered base data is grouped.

4)	HAVING :The grouped base data is filtered.

5)	SELECT :The final data is returned.

6)	ORDER BY :The final data is sorted.

7)	LIMIT :	The returned data is limited to row count.